header.header-eclipseide-anniversary {
  & {
    background-image: @header-background-anniversary;
    background-position: top;
    background-size: cover;
  }
  .nav-container {
    background-color: rgba(30, 4, 60, 0.6);
    padding: 0;
  }
  .jumbotron-custom {
    display: flex;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .jumbotron-custom-content {
      & {
        padding: 0;
        position: initial;
      }
      .jumbotron-custom-col {
        & {
          width: 100%;
          text-align: center;
          margin: 80px 0;

          @media (min-width: 992px) {
            margin: 40px 0 0;
          }
          @media (min-width: 1200px) {
            margin: 90px 0 0;
          }
        }
        h1 {
          color: #fff;
        }
        .jumbotron-custom-social-icons-left,
        .jumbotron-custom-social-container {
          display: none;
        }
      }
    }
  }
}

.eclipseide-anniversary-container {
  .anniversary-container {
    & {
      display: flex;
      align-items: center;
      margin: 25px 0;
    }
    .anniversary-title {
      font-weight: 500;
      margin-bottom: 40px;
    }
    a {
      margin: 20px 0;
      font-size: 20px;
      font-weight: 500;
      color: black;
    }
  }

  .anniversary-resources-container {
    & {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
    .anniversary-img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .anniversary-img-wrapper {
        & {
          height: 135px;
          display: flex;
          align-items: center;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .grey-row {
    position: relative;
    .left-background-color,
    .right-background-color {
      background-color: #d6d2d2;
      position: absolute;
      width: 50vw;
      top: 0;
      bottom: 0;
      z-index: -10;
    }
    .right-background-color {
      background-color: #ededed;
      right: 0;
      width: 100vw;
      @media (min-width: 900px) {
        width: calc(50vw - 8px);
      }
    }

    .anniversary-video-container {
      & {
        flex-direction: column;
        @media (min-width: 900px) {
          flex-direction: row;
        }
      }
      .section-home-dt.column {
        width: 100%;
        .anniversary-video {
          width: 100%;
          min-width: 385px;
          margin: 15px 0;
        }
        @media (min-width: 900px) {
          flex: 1;
          &:first-child {
            margin-right: 40px;
          }
          &:last-child {
            margin-left: 40px;
          }
        }
      }
    }
  }
}
