<div class="row featured-videos">
  <div class="container">
    <div class="row release-videos margin-bottom-40">
      <div class="col-sm-14 col-sm-offset-5">
        <h2>Eclipse 2023-06 IDE Improvements</h2>
        <p class="padding-15"><a class="eclipsefdn-video" target="_blank"
            href="https://www.youtube.com/embed/OQe_hafeuz8"></a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-18 col-md-offset-3">
        <div class="col-sm-12 margin-bottom-30">
          <a class="match-height-item-by-row featured-videos-white-block"
            href="https://wiki.eclipse.org/Simultaneous_Release">
            <h3>Learn More</h3>
            <p>The next Eclipse IDE release is coming in 2023-06</p>
          </a>
        </div>
        <div class="col-sm-12">
          <a class="match-height-item-by-row featured-videos-white-block" href="https://www.eclipse.org/contribute/">
            <h3>Powered by Participation</h3>
            <p>A vast ecosystem of plugins from an active community</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
