<div class="row">
  <div class="container eclipse-ide-new-features">
    <div class="row eclipse-ide-new-features-prefix">
      <h2>Better Than Ever</h2>
      <p>The Eclipse IDE delivers what you need to rapidly innovate</p>
    </div>

    <div class="row">
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">
                <a href="https://www.eclipse.org/eclipse/news/4.28/jdt.php">
                  SUPPORT FOR LATEST JAVA
                </a>
              </h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-mouse-pointer icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <p class="big">
            Supports Java 20 and provides the necessary tooling for development
          </p>
        </div>
      </div>

      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">
                <a title="The Eclipse marketplace" href="https://marketplace.eclipse.org/">PROVEN EXTENSIBILITY</a>
              </h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-cogs icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <p class="big">
            Features a huge variety of platform plugins that will ease the
            addition of new functionality
          </p>
        </div>
      </div>

      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">
                <a href="https://www.eclipse.org/eclipse/news/4.28/platform.php">
                  IMPROVED PLATFORM
                </a>
              </h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-code icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <p class="big">
            Security features such as enforced use of https protocol, PGP Key
            Revocation Handling, Tracking trusted hosts and Untrusted Artifact
            Handling
          </p>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">FREE AND OPEN SOURCE</h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-thumbs-up icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <p class="big">
            Free and open source released under the terms of the Eclipse Public
            License 2.0
          </p>
        </div>
      </div>
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">
                IMPROVED PLUG-IN DEVELOPMENT TOOLING
              </h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-terminal icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <p class="big">
            Enhanced security, automatic manifest generation and manifest
            cleanup action
          </p>
        </div>
      </div>
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">
                <a title="Get involved by contributing" href="https://www.eclipse.org/contribute/">
                  COMMUNITY-POWERED
                </a>
              </h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-users icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <p class="big">
            More and more, the Eclipse IDE is powered by individual
            contributors around the world
          </p>
        </div>
      </div>
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">IMPROVED WEB DEVELOPMENT TOOLING</h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-desktop icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <p class="big">
            Wild Web Developer provides edition support for latest versions of
            TypeScript and Angular
          </p>
        </div>
      </div>
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">IMPROVED SECURITY</h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-shield icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <p class="big">
            We audited and resolved vulnerabilities in the plugin
            authentication mechanism, more specifically in the PGP digital
            signatures support that has been recently added in addition to jar
            signatures
          </p>
        </div>
      </div>
    </div>

    <ul class="list-inline featured-new-links nn-doc-section">
      <li>
        <a class="btn btn-primary btn-lg nn-btn" href="/release/noteworthy">
          New and Noteworthy
        </a>
      </li>
      <li>
        <a class="btn btn-primary btn-lg doc-btn" href="https://help.eclipse.org/2023-06/index.jsp">
          Documentation
        </a>
      </li>
    </ul>
  </div>
</div>
