<div class="featured-section featured-highlights row">
    <div class="container">
        <h2>Community Highlights</h2>
        <div class="row">
            <div class="col-xs-5-eclipse match-height-item-by-row featured-highlights-text">
                <span class="featured-stats-number">70</span><br>
                Projects
            </div>
            <div class="col-xs-5-eclipse match-height-item-by-row featured-highlights-text">
                <span class="featured-stats-number">100</span><br>
                Committers
            </div>
            <div class="col-xs-5-eclipse match-height-item-by-row featured-highlights-text">
                <span class="featured-stats-number">174</span><br>
                Contributors
            </div>
            <div class="col-xs-5-eclipse match-height-item-by-row featured-highlights-text">
                <span class="featured-stats-number">4M+</span><br>
                IDE users
            </div>
            <div class="col-xs-5-eclipse match-height-item-by-row featured-highlights-text">
                <span class="featured-stats-number">45M+</span><br>
                Plugin Installs
            </div>
        </div>
    </div>
</div>
