/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
  *  Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
 */

// eclipsefdn-testimonials-carousel 

// @todo: Move to EFSA
.eclipsefdn-testimonials-carousel {
  // Vendor modifications
  .owl-stage {
    display: flex;
    align-items: flex-start;
  }

  // Component styles
  .testimonials-image {
    width: 20rem;
    height: 20rem;
    margin: auto;
    margin-bottom: 4rem;
    border-radius: 9999px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .testimonials-content {
    position: relative;
    margin: auto;
  }

  &.featured-section-row-dark {
    color: @white;

    h2,
    .h2 {
      color: @white;
    }
  }

  @media (min-width: @screen-lg-min) {
    .testimonials-image,
    .testimonials-content {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
    
    .testimonials-content {
      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        font-size: 20rem;
        line-height: 0.3;
        opacity: 0.3;
      }

      &::before {
        content: "\201C";
        left: -5%;
        top: -5%;
      }

      &::after {
        content: "\201D";
        top: 120%;
        right: -5%;
      }
    }
  }
}

// Remains on this repo
.eclipsefdn-testimonials-carousel {
  background: linear-gradient(#f9f9f9 50%, #9E8FBB 80%, @brand-secondary);

  .solstice-slider {
    mix-blend-mode: multiply;
  }
}
